---
title: "皓魄流霜"
layout: base.njk
pagination:
  data: "languages"
  size: 1
  alias: "lang"
permalink: "{{ lang.code }}/index.html"
---

<section>
    <h2 class="glow">{{locales[lang.code].company_name}}</h2>
    <p>{{locales[lang.code].greeting}}</p>
</section>