---
title: "Chillmoon Studio"
layout: gallery.njk
pagination:
  data: "languages"
  size: 1
  alias: "lang"
permalink: "{{ lang.code }}/projects.html"
---

<p>{{locales[lang.code].projects_text}}</p>

<div class="gallery-container">
  {% responsiveImage "/img/06_tc2.jpg", locales[lang.code].project_name_6 %}
  {% responsiveImage "/img/05_trials.jpg", locales[lang.code].project_name_5 %}
  {% responsiveImage "/img/04_tcm.jpg", locales[lang.code].project_name_4 %}
  {% responsiveImage "/img/03_tc2.jpg", locales[lang.code].project_name_3 %}
  {% responsiveImage "/img/02_acezio.jpg", locales[lang.code].project_name_2 %}
  {% responsiveImage "/img/01_mortalkombat.jpg", locales[lang.code].project_name_1 %}  
  {% responsiveImage "/img/00_leapfrog.jpg", locales[lang.code].project_name_0 %}
</div>

<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-content" id="lightbox-img">
  <div id="lightbox-caption" class="lightbox-caption"></div>
</div>

