---
title: "Chillmoon Studio"
layout: gallery.njk
pagination:
  data: "languages"
  size: 1
  alias: "lang"
permalink: "{{ lang.code }}/projects.html"
---

<div class="gallery-container">
  {% responsiveImage "/img/00_leapfrog.jpg", "" %}
  {% responsiveImage "/img/01_mortalkombat.jpg", "" %}
  {% responsiveImage "/img/02_acezio.jpg", "" %}
  {% responsiveImage "/img/03_tc2.jpg", "" %}
  {% responsiveImage "/img/04_tcm.jpg", "" %}
  {% responsiveImage "/img/05_trials.jpg", "" %}
  {% responsiveImage "/img/06_tc2.jpg", "" %}
</div>


<div id="lightbox" class="lightbox">
  <span class="close">&times;</span>
  <img class="lightbox-content" id="lightbox-img">
</div>

